/.idea/

## Exclude all target directories less jar files
/target/classes/
/target/generated-sources/
/target/generated-test-sources/
/target/maven-archiver/
/target/maven-status/
/target/surefire-reports/
/target/test-classes/
/docs/latex/*
*.original
